#bloc_page
{
   
    margin-left: 400px;
    margin-right: 400px;
}

body
{
    background-color: dimgray;
    color: white;
    font-size: xxx-large;
}

#menu
{
    margin-left: 400px;
    margin-right: 400px;
}

#button{
    height: 50px;
    width: 100px;
}
#fileToUpload, #version, #text, #testFile, #test{ 
    height: 35px;
    width: 120px;
}
#radio{
    height: 35px;
    width: 35px;
}
