#bloc_page
{

    margin-left: 400px;
    margin-right: 400px;
}

body
{
    background-color: dimgray;
    color: white;
    font-size: xxx-large;
}

#menu
{
    margin-left: 400px;
    margin-right: 400px;
}

#button{
    height: 60px;
    width: 200px;
    font-size: xx-large;
}
#fileToUpload, #version, #text, #testFile, #test{
    height: 50px;
    width: 300px;
    font-size: xx-large;
}
#radio{
    height: 35px;
    width: 35px;
    font-size: xx-large;
}
fieldset {
    background-color: #51e40d;
  }
  
  legend {
    background-color: rgb(2, 82, 230);
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }
