#bloc_page
{
    width: 900px;
    margin: auto;
    text-align: center;
}

body
{
   
    background-color: dimgray;
    color: white;
    font-size: xxx-large;

}

#menu
{
    margin-left: 500px;
} 
