
body
{
    background-image: url("../resources/pictures/picture5.png");
    max-width: 100%;
    height: auto;

}
form{
    color: #ffffff !important;
}
h1{
    color:#f1f1f1!important;
}
#welcomePage{
    background-color: #0f1a14;
    border: 1px solid black;
    opacity:0.6;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#site1Page,#site2Page,site3Page{
    background-color: #0f1a14;
    border: 3px solid black;
    opacity:0.6;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;

}


#menu2
{
    margin-left: 40px !important;
    margin-right: 100px !important;
}


.btn-success{
    height: 60px;
    width: 200px;
    color: #ffffff;
    font-size: large !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    padding-bottom: 10px !important;


}
#fileToUpload, #version, #text, #testFile, #test{
    height: 30px;
    width: 100px;
   border-radius: 5px;
}
#radio{
    height: 35px;
    width: 35px;
    font-size: xx-large;
}
fieldset {
    background-color: transparent;
  }


input {
    margin: 5px;
  }
legend{
    color:#ffffff !important;

}
h1,legend{
    font-weight: bold !important;
    font-size: 50px !important;
    padding: 10px !important;
}

.navbar-brand {
    background-image: url("../resources/pictures/icon3.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
}
.navbar-custom{
    background-color: #0f1a14;
}
.nav-link{
    color: #f1f1f1;
}
.nav-link:hover{
    color: yellow;
}
/* defines the animation */
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.first,.second,.third,fourth{
    opacity: 0;
    -webkit-animation: fadeInUp 1s ease-in-out 0s forwards;
    animation: fadeInUp 1s ease-in-out 0s forwards;
    margin: 10px 0;
    display: inline-block;
    font-weight: 300;
}
.first {
    -webkit-animation-delay: 1s;
    animation-delay: 10ms;
}
.second {
    -webkit-animation-delay: 3s;
    animation-delay: 50ms;
}
.third {
    -webkit-animation-delay: 5s;
    animation-delay: 70ms;
}
.fourth {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.fifth {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}
.sixth {
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
/* now add general css for page */

.emphasis {
    font-style: italic;
}
.photo1{
    background: url("https://www.publicdomainpictures.net/pictures/320000/velka/background-image.png") !important;
}
.photo2{
    background: url("../resources/pictures/donald.jpg") !important;
}
.photo3{
    background: url("../resources/pictures/stephSF.jpg") !important;
}
img{
    height: 200px !important;
    weight:200px!important;
}
#contact{

}
.mail{
    color:#0d1712;
}
